@model IEnumerable<StudentRegFilter.Models.STUDENT>
<br />
<br />
<div class="container">
    <b>Search by:</b>
    <select id="SearchBy">
        <option value="Name">Name</option>
        <option value="ID">ID</option>
    </select><br /><br />
    @Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>StudentID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Addrress</th>
                <th>Course</th>
                <th>YearOfStudy</th>
                <th>DateOfReg</th>
            </tr>
        </thead>
        <tbody id="DataSearching">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentID</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.Addrress</td>
                    <td>@item.Course</td>
                    <td>@item.YearOfStudy</td>
                    <td>@item.DateOfReg</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#SearchBtn").click(function () {
            var SearchBy = $("#SearchBy").val();
            var SearchValue = $("#Search").val();
            var SetData = $("#DataSearching");
            SetData.html("");
            $.ajax({
                type: "post",
                url: "/Home/GetSearchingData?SearchBy=" + SearchBy + "&SearchValue=" + SearchValue,
                contentType: "html",
                success: function (result) {
                    if (result.length == 0) {
                        SetData.append('<tr style="color:red"><td colspan ="3"> No Match Data Found</td></tr>')
                    }
                    else {
                        $.each(result, function (index, value) {
                            var Data = "<tr>" +
                                "<td>" + value.StudentID + "</td>" +
                                "<td>" + value.Name + "</td>" +
                                "<td>" + value.Surname + "</td>" +
                                "<td>" + value.Addrress + "</td>" +
                                "<td>" + value.Course + "</td>" +
                                "<td>" + valueYearOfStudy + "</td>" +
                                "<td>" + value.DateOfReg + "</td>" +
                                "</tr>";
                            SetData.append(Data);
                        });
                    }
                }
            });
        });
    });
</script>






















@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@